.popup {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s linear;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &_show {
        visibility: visible;
    }

    &__background {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0.2;
        position: fixed;
        top: 0;
        left: 0;
    }

    &__wrapper {
        width: 500px;
        height: auto;
        background: white;
        opacity: 1;
        z-index: 2;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 20px;
        position: relative;
    }

    &__button {
        width: 100%;
        height: 50px;
        border-radius: 50px;
        border: 1px solid black;
        background-color: #2F447A;
        color: white;
        font-family: 'Unbounded';
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__button:hover {
        background: #D78813;
        border: 1px solid white;
    }
}


.select-list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 7px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    text-align: start;

    &_open {
        display: flex;
    }

    &__item {
        width: 100%;
        border-bottom: 1px solid black;
        cursor: pointer;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        position: relative;
    }

    &__title {
        margin: 0 0 15px;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: black;
        text-transform: uppercase;
    }

    &__button {
        width: 100%;
        margin: 0 0 15px;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: black;
        text-align: start;
        border: none;
        padding: 10px;
        border-bottom: 1px solid black;
        background-color: white;
        cursor: pointer;
    }

}


.task-input {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-family: 'Unbounded';
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    color: black;
    box-sizing: border-box;
}


.task-description__input {
    width: 100%;
    padding: 10px;
    font-family: 'Unbounded';
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    color: black;
    box-sizing: border-box;
}

.span-error {
    color: red;
}